.header{
    height: 60px;
    width: 100%;
    background-color: #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 3px 10px #565555;
}

.navbar-left-logo-img{
    float: left;/*设置浮动*/
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    border-radius: 20%;
}

.main-nav-1{
    display: flex;
    float: left;
    text-align: left;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 400px;
    margin-top: 15px;
    color: #696969;
    letter-spacing: 5px;
    
}

.search-bar{
    width: 300px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;

}

.navbar-right{
    display: flex;
    justify-content:flex-end;/*水平居中*/
    align-items: center;/*垂直居中*/
    height: 10px;
    margin-bottom: 8px;
}

.navbar-right-a > a {
        display: flex;
        text-align: right;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: 	#696969;
        text-decoration: none;
        margin-left: 50px;
        letter-spacing: 2px;
    
        padding-top: 55px;
        padding-right: 20px;
        display: inline-block;
}

.user-avator-img{
    float: left;/*设置浮动*/
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 55px;
    border-radius: 20%;
}

.main{
    /* width: 400px;
    height: 400px; */
    flex: 4;
    height: 1000px;
    background-color: #F5F5F5;

    display: flex;
    margin-top: 15px;
}

.card{
    width: 400px;
    margin: 20px auto;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    border:1px solid #ccc;
    border-radius: 10px;
    /* box-shadow: 0 -2px 5px #888888; */
    background: #dddcdc;

    position:fixed;
    left: 300px;
    bottom: 0;
}

.card-line1 + .card-line2{
    width: 400px;
    margin: auto;
}


.card img{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;/*边框半径*/
    margin-bottom: 10px;
}

.card h1{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #6495ED;
}

.card p{
    font-size: 20px;
    color: 	#8B4513;
}

.info{
    list-style: none;
    padding: 0;
    margin: 0;
}

.info li{
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
    font-size: 18px;
    letter-spacing: 2px;
}


.value {
    color: #696666;
}

.contact{
    margin-top: 40px;
    margin-bottom: 20px;
}

.contact a{
    padding: 10px 20px;
    font-size: 16px;
    background-color: 	#FFFAFA;
    border: none;
    border-radius: 5px;
    cursor: pointer;/*鼠标移动到链接上时显示手型*/
    text-decoration: none;
    color: #8B4513;
}

.card a:hover{
    background-color: #6495ED;
    color: #FFFAFA;
}

.inof{
    list-style: none;
}



.main-left{
    display: flex;
    flex: 1;
    height: 1000px;
    background-color: #F5F5F5;

}

.main-center{
    display: flex;
    flex: 4;
    height: 1000px;
    background-color: #e5e5e5;


}

.main-right{
    display: flex;
    flex: 1;
    height: 1000px;
    background-color:	#F5F5F5;

}

.footer{
    /* width: 400px;
    height: 400px; */
    flex: 1;
    height: 250px;
    background-color: 	#e5e5e5;

    display: flex;
    margin-top: 50px;
}

.footer-left{
    display: flex;
    flex: 1;
    height: 250px;
    background-color: #F5F5F5;

}

.footer-center{
    display: flex;
    flex: 4;
    height: 250px;
    background-color: #e5e5e5;


}

.footer-right{
    display: flex;
    flex: 1;
    height: 250px;
    background-color:	#F5F5F5;

}









