body{
    margin: 0;/*设置外边距*/
    padding: 0;/*设置内边距*/
}

.content{
    width: 100%;
    height: 700px;
    background-color: yellow;
    margin: 10px;
    padding: 10px;
    border: 10px solid #B0C4DE;
    border-radius: 20px;
}


.content-p{
    text-align: center;/*设置文本居中*/
    color:#6495ED;/*设置文字颜色*/
    background-color:#FFF0F5 ;
}

.header{
    height: 30px;
    width: auto;
    background-color: #FFF0F5;
    align-self: center;
    display: flex;
    position: sticky;
    top: 0%;
    box-shadow: 5px 5px 5px #888888;
}

.left{
    float: left;/*设置浮动*/
    width: 50%;/*设置宽度*/
    height: 700px;/*设置高度*/
    background-color: pink;
    border-radius: 20px;
}

.content-left-inner{
    width: auto;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(255, 192, 203);
    text-shadow: 5px 3px 5px #888888;
    text-align: center;/*设置文本居中*/
}

.content-left-inner-h1{
    text-shadow: 5px 7px 5px #888888;
    text-align: center;
    color: 	#FFFFE0;
}

.font-custom-1{
    color: 	#F5FFFA;
    margin: 10px;
    font-size: 25px;;
    font-family: monaco, Consolas, 'Courier New', Courier, monospace;
    line-height: 50px;
    text-align: justify;/*文本对齐，justify是两端对齐*/
}

.font-custom-2{
    font-size: 60px;
    margin: 10px;
    font-weight: bold;/*设置字体加粗*/
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.right{
    float: right;
    width: 50%;
    height: 700px;
    background-color: #7FFFAA;
    background-image: url(/Users/bou_harumi/Desktop/xiaomao.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid gray;
    border-top: 2px dashed gray;
    border-radius: 20px;
}

/* .content-left-inner > p{
    margin: 10px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    text-align: justify;
    color: #F8F8FF;
    text-indent: 2em;
} */

.footer{
    margin: 10px;
    height: 500px;
    width: auto;
    background-color: #FFF0F5;
}

.home{
    flex: 1;/*设置弹性盒子比例*/
    text-align: center;
    margin-top: 1px;
    color: 	#483D8B;
}

.link{
    flex: 6;
    text-align: center;
    margin-top: 1px;
}

.account{
    flex: 3;
    text-align: center;
    margin-top: 1px;
}

a{
    text-decoration-line: none;/*设置无下划线*/
}

.footer-inner-left{
    width: 200px;
    height: 200px;
    background-color: #FFA07A;
    text-align: center;
    border-radius: 20px;

    position: relative;/*设置相对定位*/
    top: 10px;
    left: 10px;
}

.footer-inner-left > p{
    margin: 10px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;/*设置弹性盒子*/
    justify-content: center;/*水平居中*/
    align-items: center;/*垂直居中*/
    height: 200px;
    color: #F8F8FF;
}

.footer-inner-right{
    width: 200px;
    height: 200px;
    background-color: #FFA07A;
    text-align: center;

    position: absolute;/*设置绝对定位*/
    top: 1000px;
    left: 500px;
}

.footer-inner-right > a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: 	#FFA500;

}

.footer-inner-contact{
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: white;

    display: flex;
    align-items: center;

    position: fixed;/*设置固定定位，相对于浏览器窗口*/
    bottom: 50px;
    right: 10px;
}

.footer-inner-contact a{
    margin-left: 65px;
    text-decoration-line:none ;/*设置下划线*/
}

.footer-inner-bottom{
    margin-top: 100px;
}

.footer-inner-bottom-btn1{
    width: auto;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;

    background-color: #FFFFE0;
    transition: background-color 2s ease;/*设置过渡效果，第一个参数是属性，第二个参数是时间，第三个参数是速度曲线*/
}

.footer-inner-bottom-btn1:hover{
    background-color: #FFA07A;
}

@keyframes move {
    0%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(100px);
    }

    50%{
        transform: translateY(50px);
    }

    75%{
        transform: translateY(-50px);
    }

    100%{
        transform: translateX(500px);
    }
}

.footer-inner-bottom-btn2{
    width: auto;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    background-color: #FFFFE0;

    animation: move 5s infinite;/*设置动画，第一个参数是动画名称，第二个参数是时间，第三个参数是次数*/
}








