body {
    background: url('./cats-7122943_1920.png') no-repeat center center fixed;
    background-size: cover;
}

.glass-card {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

label, .form-check-label, .form-label {
    color: #fff;
}

h1 {
    display: flex;
    justify-content: center;  /* 水平居中 */
    align-items: center;      /* 垂直居中 */
    height: 100px;            /* 自定义高度 */
    font-size: 2.3rem;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: 	#fff;
    letter-spacing: 1px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
};
