body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

nav {
    background-color: rgb(71, 70, 95);
    color:bisque;
    padding: 1px 0;
    margin: 5px;
    border-radius: 20px;
    
    display: flex;
    justify-content: center;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 60px;
    height: 60px;
    /* border-radius: 10px; */
    
}

nav ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 15px;
    line-height: 30px;

    justify-content: center;
    align-items: center;
}

nav ul li a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;

}

.timer-box, .calculate-bmi {
    /* background-color: rgb(71, 70, 95); */
    border-radius: 50px;
    border: 5px solid rgb(71, 70, 95);;
    box-shadow: 0 0 10px white;
    margin: 50px auto;
    padding: 30px;
    margin-top: 70px;
    padding-bottom: 50px;
    max-width: 400px;
    text-align: center;
}

/* .timer-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #f88379;
} */

.timer-link1 {
    color: rgb(71, 70, 95);
    text-decoration: none;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 2px;
}

.bmi-link1 {
    color: rgb(71, 70, 95);
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 2px;
}


h1  {
    font-size: 80px;
    margin-bottom: 40px;
    color: rgb(71, 70, 95);
}

button {
    background-color: rgb(71, 70, 95);
    border: none;
    color: aliceblue;
    padding: 0 80px;
    /* margin: 10px; */
    margin-top: 40px;
    border-radius: 60px;
    cursor: pointer;

}

.btn-calculate {
    padding: 20px 80px;

}

.botton-text1,
.botton-text2,
.botton-text3,
.btn-calculate {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 1px;
}

.height,
.weight,
.bmi-result {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 25px;
    color: rgb(71, 70, 95);
}

button:hover {
    background-color: rgb(26, 26, 49);
}

input[type="number"] {
    width: 180px;
    padding: 6px 15px;
    font-size: 16px;
    border: 2px solid rgb(71, 70, 95);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

input [ type = 'number' ] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="number"]:focus {
    border-color: rgb(26, 26, 49);/* focus 高亮 */
    box-shadow: 0 0 5px rgb(26, 26, 49);
}

#bmi-result {
    font-size: 1.2em;
    margin-top: 10px;
}